@tailwind base;
@tailwind components;


@tailwind utilities;

@layer base {
  #__nuxt {
    @apply h-screen;
  }

  body {
    @apply h-full w-full bg-pblue;
    font-family: 'Asap Condensed';
    font-weight: 700;
    height: 100%;
  }

  #app {
    background-repeat: no-repeat;
    background-image: url("/VicReturns-Desktop-NEW.jpg");
	background-size: contain;
  }

  h1 {
    @apply uppercase;
    @apply text-white;
    font-size: 2.7rem;
    font-weight: 700;
    line-height: 2.9rem;
  }

  h2 {
    font-size: 1.2rem;
    font-weight: 900;
  }

  .btn {
    @apply text-pblue py-2 my-1 md:my-2 px-4 rounded-md uppercase w-4/5;
  }

  .btn-mint {
    @apply bg-pmint;
  }

  .btn-pblue {
    @apply bg-pblue text-white;
  }

  .large-head {
    font-size: 2.7rem;
    font-weight: 800;
    line-height: 2.9rem;
  }

  form {
    @apply text-pblue;
  }

  textarea,
  input[type] {
    @apply bg-grey;
  }

  .reading {
    font-family: 'Source Sans 3';
  }

  .terms a {
    text-decoration: underline;
  }

}
