@tailwind base;
@tailwind components;

.btn {
  @apply text-pblue py-2 my-2 px-4 rounded-md uppercase w-3/5;
}

.btn-mint {
  @apply bg-pmint;
}

.btn-pblue {
  @apply bg-pblue text-white;
}

@tailwind utilities;

@layer base {
  body {
    @apply h-full w-full bg-pblue;
    font-family: 'Asap Condensed';
    font-weight: 800;
    background-image: url("/VicReturns-Desktop.jpg");
  }

  h1 {
    @apply uppercase;
    @apply text-white;
    font-size: 2.7rem;
    font-weight: bolder;
    line-height: 2.9rem;
  }

  h2 {
    @apply text-3xl;
    font-weight: 900;
  }

  .large-head {
  	font-size: 2.7rem;
	font-weight: 900;
	line-height: 2.9rem;
  }

  form {
    @apply text-pblue;
  }

  textarea, input[type] {
    @apply bg-grey;
  }

  .reading {
    font-family: 'Source Sans 3';
  }

}
